.calc {
	display: none; 
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media (orientation: landscape) {
	.buttons {
		width: 100%;
	}
}

@media (orientation: portrait) {
	.buttons {
		width: 100%;
	}
}

#container-calc {
	height: calc(100% - 60px);
	width: 100%;
	margin-top: 60px;
}

#container-screen {
	height: 25%;
	background-color: #F0F0D0;
}

#screen {
	height: 100%;
	width: 75%;
	background-color: #F0F0D0;
	border: 0;
	padding: 0;
	font-size: 10vmin;
	font-family: sans-serif;
	text-align: right;
	font-weight: bold;
}

#calc-button-delete {
	height: 100%;
	width: 11%;
	border-radius: 1px;
	margin-right: 7%;
	float: right;
	text-align: center;
	color: white;
	font-size: 10vmin;
	font-weight: bold;
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}

#screen:focus {
	outline: none;
}

@keyframes calc-button-delete-hover {
	from {color: white;}
	to {color: #FF8080;}
}

#calc-button-delete:hover {
	cursor: pointer;
	animation-name: calc-button-delete-hover;
	animation-duration: 0.3s;
	color: #FF8080;
}

#calc-button-delete:active {
	padding-top: 1vmin;
	height: calc(100% - 1vmin);
	box-shadow: inset 0 0.3vmin 5px #AAAAAA;
}

#container-buttons {
	width: 100%;
	height: 70%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
}

.buttons {
	height: 100%;
	margin: 0px;
	float: left;
}

.science {
	display: none;
}

td {
	height: 25%;
	width: 25%;
}

button.calc {
	position: relative;
	background-color: white;
	height: 80%;
	width: 80%;
	font-size: 6vmin;
	border-radius: 100%;
	border: 0;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 2px 5px #C8C8C8;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes button-hover {
	from {background-color: white;}
	to {background-color: #F0F0F0;}
}

button.calc:hover {
	animation-name: button-hover;
	animation-duration: 0.3s;
	cursor: pointer;
	background-color: #F0F0F0;
}

button.calc:active {
	box-shadow: inset 0 2px 5px #C8C8C8;
	padding-top: 1vmin;
}

button.calc:focus {
	outline: none;
}