html, body {
	padding: 0px;
	margin: 0px;
}

html {
	height: 100%;
}

body {
	font-family: 'Trebuchet MS';
}

@media (orientation: portrait) {
	.container-page{
		float: none;
		margin-top: 70px;
		padding-bottom: 20px;
		border-bottom: 1px groove;
	}
}

@media (orientation: landscape) {
	.container-page{
		float: left;
		margin-top: 0px;
		padding-bottom: 0px;
		border-bottom: 0;
	}
}

button {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#container-info {
	width: 100%;
	margin: auto;
	margin-top: 75px;
	overflow-x: hidden;
}

#pages {
	width: 400%;
	margin-top: 50px;
	font-weight: 100;	
}

#pages::after {
	content: "";
	display: table;
	clear: both;
}

.container-page {
	height: 100%;
	width: calc(100% / 4);
	font-size: 1.37em;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}

#page1, #page2, #page3 {
	text-align: center;
}

#page1 h1 {
	font-family: "Trebuchet MS";
	color: #222;
	font-size: 13vmin;
}

#page4 h2 {
	text-align: center;
}

h2 {
	color: white;
}

#page4 .field {
	color: white;
}

#page4 img {
	max-width: 100%;
	height: auto;
}

.container-text {
	margin: auto;
	width: calc(100% - 40vmin);
	//background-color: rgba(198, 172, 116, 1);
	background-color: #9898FF;
	color: #222;
	padding: 4vmin 6vmin 4vmin 6vmin;
	border-radius: 3px;
}